SQL_DSN=shu_api:CHANGE_ME@tcp(host.docker.internal:3306)/shu_api?charset=utf8mb4&parseTime=True&loc=Local
REDIS_PASSWORD=CHANGE_ME
SESSION_SECRET=CHANGE_ME
REDIS_CONN_STRING=redis://:CHANGE_ME@redis:6379
